@import "../../../styles/variables.module.scss";

.Container {
  padding: 60px 0 100px;
  position: relative;
}

.wrapSection5 {
  max-width: 1200px;
  display: flex;
  margin: 0 auto;
  position: relative;
}

.coverSection5 {
  width: 100%;
  display: flex;
}

.item {
  width: 33.333%;
  position: relative;
  min-height: 1px;
  display: flex;
}

.wrapItem {
  width: 100%;
  position: relative;
  display: flex;
}

.coverItem {
  padding: 10px;
  display: flex;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  align-content: flex-start;
}

.siteContent {
  width: 100%;
  position: relative;
}

.wrapContent {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s,
    transform var(--e-transform-transition-duration, 0.4s);
}

.coverContent {
  display: flex;
  align-items: flex-start;
  text-align: left;
  flex-direction: row;

  .wrapImage {
    width: 18%;
    margin: 0 7px 0 0;
    display: inline-block;

    .figNumber {
      transition-duration: 0.3s;
      height: auto;
      max-width: 100%;
      border: none;
      border-radius: 0;
      box-shadow: none;
      vertical-align: middle;
    }
  }

  .contentRight {
    width: 100%;
    text-align: left;

    h3 {
      color: $black;
      font-size: 1.6666666666667rem;
      font-family: "Libre Baskerville", serif;
      line-height: 1.2em;
      font-weight: 400;
      margin-bottom: 20px;
      clear: both;
      text-align: left;
      word-wrap: break-word;
    }

    p {
      margin: 0;
      font-family: "Montserrat", sans-serif;
      line-height: 1.85714285714286;
      color: $black;
      word-wrap: break-word;
      text-align: left;
    }
  }
}
