@import "../../../styles/variables.module.scss";

.Container {
  padding: 100px 0 140px;
  position: relative;
}

.wrapSection8 {
  max-width: 1200px;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

.coverSection8 {
  width: 100%;
  display: flex;
}

.item {
  width: 33.333%;
  position: relative;
  min-height: 1px;
  display: flex;
}
