@import "../../../styles/variables.module.scss";

.Container {
  padding: 20px;
  position: relative;
}

.wrapSection4 {
  max-width: 1200px;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

.coverSection4 {
  width: 100%;
  display: flex;
}

.item {
  width: 25%;
  position: relative;
  min-height: 1px;
  display: flex;
}

.wrapItem {
  width: 100%;
  position: relative;
  display: flex;
}

.coverItem {
  padding: 10px;
  display: flex;
  align-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
}

.wrapImage {
  width: 100%;
  position: relative;
  text-align: center;
}

.coverImage {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s,
    transform var(--e-transform-transition-duration, 0.4s);
  text-align: center;
}

.siteImage {
  text-align: center;
  word-wrap: break-word;
}

.image {
  vertical-align: middle;
  display: inline-block;
  height: auto;
  max-width: 100%;
  border: none;
  border-radius: 0;
  box-shadow: none;
  width: 380px;
  aspect-ratio: auto 380 / 500;
  object-fit: cover;

  &.image1 {
    height: 369px !important;
  }

  &.image2 {
    height: 435px !important;
  }

  &.image3 {
    height: 468px !important;
  }

  &.image4 {
    height: 402px !important;
  }
}
