.Container {
  background-color: #222222;
  font-family: Verdana, sans-serif, "Courier New", Courier, monospace;
  color: white;
}

.header {
  max-width: 1440px;
  margin: 0 auto;
  padding: 15px 15px;
}

.wrapRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.itemLeft {
  display: flex;
  align-items: center;

  .icFb {
    width: 40px;
    height: 40px;
  }

  .title {
    margin-left: 10px;
    font-size: 22px;

    a {
      text-decoration: none;
      color: white;
    }
  }
}

.itemRight {
  display: flex;
  align-items: center;

  div {
    margin: 0 20px;

    a {
      text-decoration: none;
      color: white;
    }
  }
}
