@import "src/styles/variables.module.scss";

.Container {
  background-color: $bg_black;
}

.footer {
  max-width: 1440px;
  margin: 0 auto;
  padding: 15px 15px;
}

.wrapRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}